<div *ngIf="isLoaded">
    <div class="m-2">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome:</th>
                    <th>Descrição:</th>
                    <th>Ações:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                        <button type="button" (click)="openCharts(category)"
                            class="btn btn-outline-primary mx-1">Gráficos</button>
                        <button type="button" [routerLink]="['/import']"
                            class="btn btn-outline-primary mx-1">Dados</button>
                        <button type="button" class="btn btn-outline-danger mx-1"
                            (click)="delete(category._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <button type="button" [routerLink]="['/categories']" class="btn btn-outline-primary">Criar categoria</button>
</div>