<form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
    <div class="mb-3">
        <label for="Name" class="form-label">Nome</label>
        <input type="text" class="form-control" placeholder="Nome da categoria" aria-label="Nome da categoria"
            id="validationName" name="name" #name="ngModel" [ngModel]="name.value">
    </div>
    <div class="mb-3">
        <label for="Descrição" class="form-label">Descrição</label>
        <input type="text" class="form-control" placeholder="Descrição da categoria" aria-label="Descrição da categoria"
            id="validationDescription" name="description" #description="ngModel" [ngModel]="description.value">
    </div>
    <div>
        <button [disabled]="categoryForm.invalid" type="submit" class="btn btn-outline-primary me-1">
            Enviar
        </button>
        <button type="button" [routerLink]="['']" class="btn btn-outline-primary">Voltar</button>
    </div>
</form>

<div *ngIf="success" class="alert alert-success">
    Categoria criada com sucesso!
    <a [routerLink]="[
        '/categories'
      ]" class="alert-link">Voltar</a>.
</div>