<div>
    <form (ngSubmit)="onSubmit()">
        <div *ngFor="let item of items; let i = index">
            <app-search-options [item]="item"></app-search-options>
        </div>
        <div class="row m-2">
            <div>
                <button type="button" class="btn btn-primary btn-md me-2" (click)="addItemRow()">Adicionar Mais
                    campos</button>
                <button type="submit" class="btn btn-primary btn-md">
                    Buscar
                </button>
            </div>
        </div>
    </form>
</div>

<div *ngIf="isLoaded">
    <div class="m-2">
        <h2>Preview</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" *ngFor="let column of columns">
                        {{ subtitle[column] }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let content of contents">
                    <td *ngFor="let column of columns">{{ content[column] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <app-chart *ngIf="isLoaded" [chartContents]="contents" [chartSubtitle]="subtitle"></app-chart>
</div>