<form #importForm="ngForm" (ngSubmit)="onSubmit(importForm)">
    <div class="mb-3">
        <input class="form-control form-control-md" type="file" id="validationCsvPath" (change)="chooseFile($event)"
            accept=".csv" />
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Data Inicial" aria-label="Período Inicial"
            id="validationStartPeriod" name="startPeriod" #startPeriod="ngModel" [ngModel]="startPeriod.value" />
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Data final" aria-label="Período final"
            id="validationEndPeriod" name="endPeriod" #endPeriod="ngModel" [ngModel]="endPeriod.value" />
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Index de Cabeçalho" aria-label="Index de Cabeçalho"
            id="validationHeaderIndex" name="headerIndex" #headerIndex="ngModel" [ngModel]="headerIndex.value" />
    </div>
    <div class="mt-4 gap-2 d-md-flex justify-content-md-end">
        <!-- <button type="button" [routerLink]="['']" class="btn btn-outline-primary">Voltar</button>-->
        <!-- <button [disabled]="importForm.invalid" type="submit" class="btn btn-success me-1">
            Importar Arquivo
        </button> -->

        <app-submit-button (submitClicked)="onSubmit(importForm)" [title]="'Importar Arquivo'"
            [isLoading]="isLoading"></app-submit-button>
    </div>
</form>